<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.ivyteam.ivy.process.element.IExtensibleStandardProcessElementExtension">
      <extensibleStandardProcessElementExtension
            class="com.axonivy.ivy.process.element.rule.ProcessElementExtension">
      </extensibleStandardProcessElementExtension>
   </extension>
   <extension
         point="ch.ivyteam.ivy.java.IIvyProjectClassPathExtension">
      <ivyProjectClassPathExtension
            class="com.axonivy.ivy.process.element.rule.IvyProjectClassPathExtension">
      </ivyProjectClassPathExtension>
   </extension>
   <extension
         point="ch.ivyteam.ivy.designer.process.ui.IProcessElementUiInformationExtension">
      <processElementUiInformationExtension
            class="com.axonivy.ivy.process.element.rule.ProcessElementUiInformationExtension">
      </processElementUiInformationExtension>
   </extension>
   <extension
         point="ch.ivyteam.ivy.designer.process.ui.IIvyProcessPaletteExtension">
      <ivyProcessPaletteExtension
            class="com.axonivy.ivy.process.element.rule.IvyProcessPaletteExtension">
      </ivyProcessPaletteExtension>
   </extension>

</plugin>
