@CHARSET "UTF-8";
body, html, td, tr, th, input, textarea, select, form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

#layoutHeader {
	height: 100px;
	background-color: #575656;
}

#layoutFooter p {
	margin: 0;
	padding: 0;
}