<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.ivyteam.ivy.bpm.exec.IBpmnProcessElement">
      <element
            class="com.axonivy.ivy.process.element.rule.DecisionProcessElement">
      </element>
   </extension>
   <extension
         point="ch.ivyteam.ivy.designer.process.ui.info.IBpmnProcessElementUi">
      <uiInfo
            class="com.axonivy.ivy.process.element.rule.ui.DecisionProcessElementUi">
      </uiInfo>
   </extension>
</plugin>
