name: CI-Build

on: 
  push:
  workflow_dispatch:
  schedule:
    - cron: '21 21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 17

    - name: Build with Maven
      run: mvn clean verify --batch-mode

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: "*/target/surefire-reports/*.xml"

    - name: Archive build artifacts
      uses: actions/upload-artifact@v2
      with:
        path: |
          **/dmn-decision-table*.jar
          **/*.iar
          **/*.zip